body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}